<?xml version='1.0' encoding='utf-8'?>
<widget id="com.moneyexpert.broadband" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Money Expert Broadband</name>
    <description>
        Money Expert Broadband
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Money Expert
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="public/mex-app-icon/android/mipmap-ldpi/ic_launcher.png" density="ldpi" />
        <icon src="public/mex-app-icon/android/mipmap-mdpi/ic_launcher.png" density="mdpi" />
        <icon src="public/mex-app-icon/android/mipmap-hdpi/ic_launcher.png" density="hdpi" />
        <icon src="public/mex-app-icon/android/mipmap-xhdpi/ic_launcher.png" density="xhdpi" />
        <icon src="public/mex-app-icon/android/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi" />
        <icon src="public/mex-app-icon/android/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi" />
        <config-file after="uses-permission" parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.CAMERA" />
        </config-file>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="public/pfs-app-icon/ios/AppIcon.appiconset/Icon-App-60x60@3x.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="public/pfs-app-icon/ios/AppIcon.appiconset/Icon-App-60x60@1x.png" width="60" height="60" />
        <icon src="public/pfs-app-icon/ios/AppIcon.appiconset/Icon-App-60x60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="public/pfs-app-icon/ios/AppIcon.appiconset/Icon-App-76x76@1x.png" width="76" height="76" />
        <icon src="public/pfs-app-icon/ios/AppIcon.appiconset/Icon-App-76x76@2x.png" width="152" height="152" />
        <!-- Spotlight Icon -->
        <icon src="public/pfs-app-icon/ios/AppIcon.appiconset/Icon-App-40x40@1x.png" width="40" height="40" />
        <icon src="public/pfs-app-icon/ios/AppIcon.appiconset/Icon-App-40x40@2x.png" width="80" height="80" />
        <!-- iOS 6.1 -->
        <!-- iPhone / iPod Touch -->
        <!-- <icon src="public/pfs-app-icon/ios/AppIcon.appiconset/Icon-App@1x.png" width="57" height="57" /> -->
        <!-- <icon src="public/pfs-app-icon/ios/AppIcon.appiconset/Icon-App@2x.png" width="114" height="114" /> -->
        <!-- iPad -->
        <!-- <icon src="public/pfs-app-icon/ios/AppIcon.appiconset/Icon-App-72x72@1x.png" width="72" height="72" /> -->
        <!-- <icon src="public/pfs-app-icon/ios/AppIcon.appiconset/Icon-App-72x72@2x.png" width="144" height="144" /> -->
        <!-- iPad Pro -->
        <icon src="public/pfs-app-icon/ios/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png" width="167" height="167" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="public/pfs-app-icon/ios/AppIcon.appiconset/Icon-App-29x29@1x.png" width="29" height="29" />
        <icon src="public/pfs-app-icon/ios/AppIcon.appiconset/Icon-App-29x29@2x.png" width="58" height="58" />
        <icon src="public/pfs-app-icon/ios/AppIcon.appiconset/Icon-App-29x29@3x.png" width="87" height="87" />
        <!-- iPad Spotlight and Settings Icon -->
        <!-- <icon src="public/pfs-app-icon/ios/AppIcon.appiconset/Icon-App-50x50@1x.png" width="50" height="50" /> -->
        <!-- <icon src="public/pfs-app-icon/ios/AppIcon.appiconset/Icon-App-50x50@2x.png" width="100" height="100" /> -->
        <!-- iPad Pro -->
        <icon src="public/pfs-app-icon/ios/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png" width="167" height="167" />
    </platform>
</widget>
